.jumbotron {
    padding: 100px;
    background-image: url(https://imgix.bustle.com/rehost/2016/9/13/ee302489-b8a6-4b74-a69a-0fdf7a09adbf.jpg?w=970&h=546&fit=crop&crop=faces&auto=format&q=70&dpr=2);
    background-size: cover;
  }

  h1,h2{
    color: black;
    text-shadow: white 0px 0px 10px;
  }